extends layout

block content
  h1= title

  if (toShow == null)
    h2 No device found with the given ID
  else
    div.row
      div(class='deviceAttr') Device ID:
      div #{toShow._id}

    div.row
      div(class='deviceAttr') Device Type:
      div #{toShow.device_name}

    div.row
      div(class='deviceAttr') Device Power Usage:
      div #{toShow.power_usage}

    div.row
      div(class='deviceAttr') Device Model:
      div #{toShow.model}
